[submodule "vendor/clojurescript"]
	path = vendor/clojurescript
	url = git://github.com/clojure/clojurescript
[submodule "vendor/pinot"]
	path = vendor/pinot
	url = git://github.com/lynaghk/pinot
[submodule "vendor/cassowary-coffee"]
	path = vendor/cassowary-coffee
	url = git://github.com/lynaghk/cassowary-coffee
